@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BebasNeue";
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/BebasNeue.otf) format("truetype");
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  75% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.logo-los {
  animation: 1.5s ease 0s normal forwards 1 bounce;
}
.logo-heroes {
  animation: 1.8s ease 0s normal forwards 1 bounce;
}
.logo-del {
  animation: 2s ease 0s normal forwards 1 bounce;
}
.logo-verano {
  animation: 2.4s ease 0s normal forwards 1 bounce;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background {
  animation: 1.8s ease 0s normal forwards 1 fadein;
}

.background-sun,
.kraftheninz-logo {
  animation: 2.5s ease 0s normal forwards 1 fadein;
}

body {
  overflow-y: scroll;
}
