@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BebasNeue";
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/BebasNeue.otf) format("truetype");
  }
}

.shadow-section {
  box-shadow: 0 -10px 20px -45px rgba(255, 4, 4, 0.75);
  /* box-shadow: 0 -25px 20px -5px rgba(0, 0, 0, 0.657); */
}
