@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "BebasNeue";
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/BebasNeue.otf) format("truetype");
  }
}

@keyframes bounce {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.logo-los {
  animation: bounce 0.5s 0.5s ease-in-out;
}
.logo-heroes {
  animation: bounce 0.5s 1s ease-in-out;
}
.logo-del {
  animation: bounce 0.5s 1.5s ease-in-out;
}
.logo-verano {
  animation: bounce 0.5s 2s ease-in-out;
}
